.home-container {
  height: 100vh;
  width: 50%;
  display: flex;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 0.68);
  margin: 0 auto;
  overflow: scroll;
  scrollbar-width: thin;
  scrollbar-color: rgba(219, 219, 219, 0.825) transparent;

  .home-header {
    display: none;
  }
}

.posts-feed {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0;
}

@media screen and (min-width: 300px) and (max-width: 550px) {
  .home-container {
    min-width: 280px;
    max-width: 530px;
    width: 400px;
    padding-bottom: 70px;

    .home-header {
      height: 50px;
      display: flex;
      justify-content: left;
      align-items: center;
      margin-left: 5px;

      img {
        width: 100px;
        height: 50px;
      }
    }
  }
}
